.menuPerry{background-color:#00B1B1 ;}

.menuDufen{background-color:indigo ;}

.menuPhineasyFerb{background-color: red;}

.alineado{
    text-align: center;
    font-size: 38px;
}

.fuenteDufen{
    color:indigo;
}

.fuentePerry{
    color: #00B1B1;
}